h1 {
    color:#111111;
    text-align: center;
    font-size: larger;
  }
  
.title {
       background-color: teal;
       color: aliceblue;
       padding: 0vw
       font-family: monospace;
       
}

.cards {
       background-color: darkseagreen;
       padding: 0vmax;
       font-family: monospace;
}

body {
     background-color: beige;
}

.box-1 {
  border-left: 8px solid teal;
  border-right: 8px solid teal;
  border-top: 11px solid forestgreen;
  border-bottom: 10px solid purple;
}

span {color: red;}

img { float: left;}

.p1 {font-weight: bold;
     background-color: mediumaquamarine;
     font-style: oblique;}

.p2 {font-weight: 300;
     background-color: navajowhite;
     font-style: normal;}




  

