h1 {
    color:#111111;
    text-align: center;
  }
  
.title {
       background-color: teal;
       color: aliceblue;
       padding: 0vw;
}

.cards {
       background-color: darkseagreen;
       padding: 0vmax;
}

body {
     background-color: beige;
}


  

